# ML T-Generation Занятие 2: Data Wrangling Основы работы с векторными данными и визуализацией. NumPy, Pandas и matplotlib.

# Pandas

**Pandas** - это библиотека Python, предоставляющая широкие возможности для анализа данных. С ее помощью очень удобно загружать, обрабатывать и анализировать табличные данные с помощью SQL-подобных запросов. В связке с библиотеками Matplotlib и Seaborn появляется возможность удобного визуального анализа табличных данных.

In [6]:
import pandas as pd
import numpy as np
#магия для отображения графиков в тетрадке
%matplotlib inline

На первое время хорошо держать под рукой шпаргалку с набором полезных функций

Основными структурами данных в Pandas являются классы Series и DataFrame. Первый из них представляет собой одномерный индексированный массив данных некоторого фиксированного типа. Второй - это двухмерная структура данных, представляющая собой таблицу, каждый столбец которой содержит данные одного типа. Можно представлять её как словарь объектов типа Series. Структура DataFrame отлично подходит для представления реальных данных: строки соответствуют признаковым описаниям отдельных объектов, а столбцы соответствуют признакам.

Для начала рассмотрим простые примеры создания таких объектов и возможных операций над ними.

### Series

** Создание объекта Series из 5 элементов, индексированных буквами:**

In [4]:
salaries = pd.Series([400, 300, 200, 250], 
              index = ['Andrew', 'Bob', 
                       'Charles', 'Ann']) 
salaries

Andrew     400
Bob        300
Charles    200
Ann        250
dtype: int64

In [5]:
# тут можно наблюдать "консистентность" между библиотеками numpy и pandas
salaries[salaries > 250]

Andrew    400
Bob       300
dtype: int64

**Индексирование возможно в виде s.Name или s['Name'].**

In [6]:
salaries.Andrew == salaries['Andrew']

True

In [7]:
salaries['Andrew'], salaries.Andrew

(400, 400)

**Series поддерживает пропуски в данных.**

In [8]:
salaries['Carl'] = np.nan
salaries

Andrew     400.0
Bob        300.0
Charles    200.0
Ann        250.0
Carl         NaN
dtype: float64

In [9]:
salaries['Carl']

nan

In [10]:
salaries

Andrew     400.0
Bob        300.0
Charles    200.0
Ann        250.0
Carl         NaN
dtype: float64

In [11]:
salaries.fillna(salaries.median(), inplace=True)

In [12]:
salaries

Andrew     400.0
Bob        300.0
Charles    200.0
Ann        250.0
Carl       275.0
dtype: float64

**Объекты Series похожи на ndarray и могут быть переданы в качестве аргументов большинству функций из Numpy.**

In [13]:
print('Второй элемент серии', salaries[1], '\n')
# Smart indexing
print(salaries[:3], '\n')
print(len(salaries[salaries > 0]), 'Положительных значение\n')

Второй элемент серии 300.0

Andrew     400.0
Bob        300.0
Charles    200.0
dtype: float64

5 Положительных значение

In [14]:
salaries

Andrew     400.0
Bob        300.0
Charles    200.0
Ann        250.0
Carl       275.0
dtype: float64

Можно передавать в функции numpy

In [ ]:
print(np.exp(salaries))

### DataFrame

### Создание и изменение

**Альтернативным способом является создание DataFrame из словаря numpy массивов или списков.**

In [ ]:
df2 = pd.DataFrame({'A': np.random.random(5), 
                    'B': ['a', 'b', 'c', 'd', 'e'], 
                    'C': np.arange(5) > 2})
df2

In [ ]:
type(df2)

**Обращение к элементам (или целым кускам фрейма):**

In [ ]:
print('Элемент на 3 позиции в столбце 3 = ', df2.at[3, 'B'], '\n')
print(df2.loc[1:4, 'A':'C'])

**Изменение элементов и добавление новых:**

In [ ]:
df2.at[2, 'B'] = 'f'
df2

In [ ]:
df2.loc[4]

In [ ]:
df2.loc[5] = [3.1415, 'c', False]
df2

In [ ]:
df1 = df2.copy()
df1

In [ ]:
df1.columns = ['A', 'B', 'C']
df3 = df1.append(df2)
df3

#### Обработка пропущенных значений

In [ ]:
df1.at['o2', 'A'] = np.nan
df1.at['o4', 'C'] = np.nan
df1

**Булева маска для пропущенных значений (True - там, где был пропуск, иначе - False):**

In [ ]:
pd.isnull(df1)

**Можно удалить все строки, где есть хотя бы один пропуск.**

In [ ]:
df1

In [ ]:
df1.dropna(axis=0)

In [ ]:
df1

In [ ]:
df1.shape

In [ ]:
df1.shape[0]*[0]

In [ ]:
df1['D'] = df1.shape[0]*[np.nan]

In [ ]:
df1

In [ ]:
df1.dropna(how='all', axis=1)

**Пропуски можно заменить каким-то значением.**

In [ ]:
df1.fillna()

## Пример первичного анализа данных с Pandas

In [1]:
import os
import pandas as pd

Рассмотрим данную библиотеку на примере [данных](https://www.kaggle.com/c/titanic/data) [соревнования](https://www.kaggle.com/c/titanic) о предсказании судьбы пассажиров лайнера "Титаник". Имеется некоторая информация о пассажирах, по которой необходимо предсказать выживаемость каждого из них.
* Какого типа данная задача?
* Что является объектами?
* Что является ответами?
* Какие могут быть признаки? Какие у них типы?

Скачаем данные:

In [2]:
pass_data = pd.read_csv('titanic.csv', sep='\t')

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

Данные представляют из себя таблицу, где строка — объект, столбец — признак. Для экономии места можно выводить заданное количество первых строк объекта при помощи метода head():

In [ ]:
pass_data.tail(10)

In [ ]:
pass_data.head(3)

In [ ]:
pass_data

Посмотрим на признаки:

In [ ]:
pass_data.columns

В этом ноутбуке мы думали, что названия столбцов начинаются с маленькой буквы, а в данных первая буква заглавная, придется исправить:

In [ ]:
pass_data.info()

In [ ]:
pass_data = pass_data.rename(str.lower, axis="columns")

По данным можно индексироваться при помощи номеров строк/столбцов или названий признаков:

In [36]:
pass_data[2:5]

NameError: name 'pass_data' is not defined

In [ ]:
pass_data.iloc[1:5, 1:3]

In [ ]:
pass_data.loc[1:5, "survived":"pclass"]

In [ ]:
pass_data['name'].head()

In [ ]:
pass_data[['name', 'sex', 'pclass']].head()

Также действует и логическая индексация, которая позволяет рассматривать определенные группы объектов:

In [ ]:
pass_data[pass_data['sex'] == 'female'].head() # женщины на борту

In [ ]:
pass_data.shape

In [ ]:
# TASK: вывести женщин старше 60 и мужчины на борту
# Ваш код здесь
#

& - и | - или

In [ ]:
# TASK: Посмотрим, сколько на борту было относительно молодых женщин,
# путешествующих в одиночку. Скорее всего, довольно мало,
# потому что в такое длительное путешествие молодых девушек одних не отпустили бы опекающие родственники.
# Ваш код здесь
#

Кроме того, для заданного признака можно построить гистограмму:

In [ ]:
pass_data.age.hist(bins = 10)

## Редактирование DataFrame

* Переименование признаков

In [ ]:
pass_data.rename(columns={'sex': 'Sex'}, inplace=True)
pass_data.head()

* Применение преобразования к существующему признаку. Например, выделим фамилию:

In [ ]:
# TASK: написать функцию возвращающее фамилию
def get_last_name():
    pass

* Добавление признака

In [ ]:
pass_data['Last_name'] = last_names
pass_data.head()

* Удаление признака

In [ ]:
pass_data.drop('Last_name', axis=1).head()

In [ ]:
pass_data.head()

In [ ]:
pass_data.drop('Last_name', axis=1, inplace=True)
pass_data.head()

* Работа с пропущенными данными

In [ ]:
pass_data.info()

Методы isnull() и notnull() позволяют получить бинарный массив, отражающий отсутствие или наличие данных для каждого из объектов соответственно:

In [ ]:
pass_data['cabin'].isnull().head()

pass_data[pass_data['cabin'].notnull()].head() # пассажиры с известным номером шлюпки эвакуации

* Сортировка объектов/признаков

In [ ]:
pass_data.sort_values(by=['pclass', 'fare'], ascending=True).head()

In [ ]:
pass_data.sort_values(by=['pclass', 'fare'], ascending=[True, False]).head()

## Группировка данных

Группировка при помощи метода groupby позволяет объединять данные в группы по одному или нескольким признакам и считать по ним общую статистику.

In [ ]:
pass_data.groupby('Sex') # разбиение всех объектов на 2 группы по полу

In [ ]:
pass_data.groupby('Sex')['pclass'].value_counts()

In [ ]:
pass_data.groupby('pclass')['fare'].describe()

In [ ]:
pass_data.groupby('Sex')['age'].mean() # средний возраст для пассажиров каждого из полов

Как известно, в первую очередь спасали женщин и детей в порядке повышения номера класса, в связи с этим доля выживших женщин, вероятно, будет выше, чем доля выживших мужчин. Проверим:

In [ ]:
pass_data.groupby('Sex')['survived'].mean()

Аналогично для пассажиров различных классов:

In [ ]:
pass_data.groupby('pclass')[['survived', 'age']].mean()

Рассмотренные выше статистические данные могут быть рассмотрены и в виде стандартного DataFrame:

In [ ]:
pass_data.groupby('Sex', as_index=False)['survived'].mean()

## Сохранение данных

Также данные можно сохранить в файл:

In [ ]:
pass_data.to_csv('titanic_2.csv', index=False)

# Самостоятельная работа  №2

In [30]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [24]:
# 1. создать датафрейм
# Ваш код здесь

In [7]:
data = pd.DataFrame ({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']})
data

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

In [26]:
# Вывести первые 3 строки
# Ваш код здесь

In [14]:
data.iloc[0:3]

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no

In [ ]:
# Вывести значения где пропущены age
# Ваш код здесь

In [15]:
data['age'].isnull

<bound method Series.isnull of 0    2.5
1    3.0
2    0.5
3    NaN
4    5.0
5    2.0
6    4.5
7    NaN
8    7.0
9    3.0
Name: age, dtype: float64>

In [ ]:
# Вывести сумму всех посещений
# Ваш код здесь

In [19]:
data['visits'].sum()

19

In [ ]:
# Посчитать количество каждого типа в колонке animal
# Ваш код здесь

In [20]:
data.animal.value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [ ]:
# Сохранить в формате csv
# Ваш код здесь

In [21]:
data.to_csv('data.csv', index=False)