<a href="https://colab.research.google.com/github/victory256/Sample-ML-Repo/blob/hw6/%D0%AF%D0%BA%D1%83%D0%B1%D0%BE%D0%B2%D0%B0_hw06_Boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### (0 баллов) Считываем данные

In [145]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib 
import copy

Using matplotlib backend: agg

In [146]:
from sklearn.datasets import load_boston

dataset = load_boston()
dataset.keys()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

Каждая квартира имеет 13 признаков:

In [147]:
X = dataset['data']
X[:10]

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, 0.0000e+00, 5.3800e-01,
        6.5750e+00, 6.5200e+01, 4.0900e+00, 1.0000e+00, 2.9600e+02,
        1.5300e+01, 3.9690e+02, 4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, 0.0000e+00, 4.6900e-01,
        6.4210e+00, 7.8900e+01, 4.9671e+00, 2.0000e+00, 2.4200e+02,
        1.7800e+01, 3.9690e+02, 9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, 0.0000e+00, 4.6900e-01,
        7.1850e+00, 6.1100e+01, 4.9671e+00, 2.0000e+00, 2.4200e+02,
        1.7800e+01, 3.9283e+02, 4.0300e+00],
       [3.2370e-02, 0.0000e+00, 2.1800e+00, 0.0000e+00, 4.5800e-01,
        6.9980e+00, 4.5800e+01, 6.0622e+00, 3.0000e+00, 2.2200e+02,
        1.8700e+01, 3.9463e+02, 2.9400e+00],
       [6.9050e-02, 0.0000e+00, 2.1800e+00, 0.0000e+00, 4.5800e-01,
        7.1470e+00, 5.4200e+01, 6.0622e+00, 3.0000e+00, 2.2200e+02,
        1.8700e+01, 3.9690e+02, 5.3300e+00],
       [2.9850e-02, 0.0000e+00, 2.1800e+00, 0.0000e+00, 4.5800e-01,
        6.4300e+00, 5.8700e+01, 6.0622e+00, 3.0000e+00, 2.2200e+02,
        1.8700e+01, 3.9412e+02, 5.2100e+00],
       [8.8290e-02, 1.2500e+01, 7.8700e+00, 0.0000e+00, 5.2400e-01,
        6.0120e+00, 6.6600e+01, 5.5605e+00, 5.0000e+00, 3.1100e+02,
        1.5200e+01, 3.9560e+02, 1.2430e+01],
       [1.4455e-01, 1.2500e+01, 7.8700e+00, 0.0000e+00, 5.2400e-01,
        6.1720e+00, 9.6100e+01, 5.9505e+00, 5.0000e+00, 3.1100e+02,
        1.5200e+01, 3.9690e+02, 1.9150e+01],
       [2.1124e-01, 1.2500e+01, 7.8700e+00, 0.0000e+00, 5.2400e-01,
        5.6310e+00, 1.0000e+02, 6.0821e+00, 5.0000e+00, 3.1100e+02,
        1.5200e+01, 3.8663e+02, 2.9930e+01],
       [1.7004e-01, 1.2500e+01, 7.8700e+00, 0.0000e+00, 5.2400e-01,
        6.0040e+00, 8.5900e+01, 6.5921e+00, 5.0000e+00, 3.1100e+02,
        1.5200e+01, 3.8671e+02, 1.7100e+01]])

In [148]:
dataset['feature_names']

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [149]:
print(dataset['DESCR'])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

Хочется научиться предсказывать функцию цены квартиры. Предположительно, она зависит как-то от этих признаков.

In [150]:
y = dataset['target']
y[:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

Представим данные в привычном нам формате pandas-таблицы

In [151]:
data = pd.DataFrame(data = dataset['data'], columns=dataset['feature_names'])  
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [152]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

Таблица заполена полностью, пропущенных значений нет.

Все параметры числовые.

### (1 балл) Разделите данные на тренировочную и тестовую части.

Тестовая часть должна составлять 10% выборки.

In [153]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(data, dataset['target'], test_size=0.1)

### (1 балл) Обучение и применение модели
Обучите модель линейной регрессии на тренировочной части и предскажите результаты на тестовой части.

In [154]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_preds=lr.predict(X_test)

### (2 балл) Валидация результата

Напишите свою функцию MSE, убедитесь, что она совпадает с реализацией из sklearn и посчитайте своей результат на тестовой части.

In [155]:
from sklearn.metrics import mean_squared_error
def MSE(y_real, y_pred):
    return np.sum(np.square(y_pred-y_real))/len(y_real)
print("    own MSE =",MSE(y_preds, y_test))
print("sklearn MSE =",mean_squared_error(y_preds, y_test))

    own MSE = 27.323394252058325
sklearn MSE = 27.323394252058325

Насколько хорошо вы предсказали цену? Сравните с наивным алгоритмом (предсказать среднюю цену на тренировочной части вне зависимости от признаков).

In [156]:
# среднюю цену на тренировочной части
np.mean(y_train)

22.322857142857142

In [157]:
print('линейная регрессия')
print("        MSE =",mean_squared_error(y_preds, y_test))
print("        r_2 =",r2_score(y_preds, y_test))
print('наивный алгоритм')
print("        MSE =",mean_squared_error([np.mean(y_train)]*len(y_preds), y_test))
print("        r_2 =",r2_score([np.mean(y_train)]*len(y_preds), y_test))

линейная регрессия
        MSE = 27.323394252058325
        r_2 = 0.5009401511550918
наивный алгоритм
        MSE = 91.4383711884754
        r_2 = 0.0

Видим, что LinearRegression предсказала цену лучше, чем наивный алгорит. MSE в 4 раза ниже. И $R^2$ у LinearRegression хороший = 0,7. Для наивного алгоритма $R^2$ < 0, потому что эта метрика показывает зависимость между переменными. В наивном алгоритме мы сравниваем с константой.

### (2 балла) Улучшите результат.

Возможно, происходит переобучение, попробуйте применить регуляризацию, чтобы улучшить результат (то есть используйте Ridge вместо LinearRegression).

Нарисуйте график зависимости MSE от коэффициента регуляризации.

In [158]:
print('линейная регрессия')
print("на train MSE =",mean_squared_error(lr.predict(X_train), y_train))
print("на test  MSE =",mean_squared_error(lr.predict(X_test), y_test))

линейная регрессия
на train MSE = 21.35601254890209
на test  MSE = 27.323394252058325

Ошибка на train меньше, чем на test, значит переобучения нет. Попробуем использовать регуляризацию.

In [159]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score
from matplotlib import pyplot as plt
lambdas = np.arange(-3.0, 3.0, 0.2)
# Лямбды и их ошибки на обучающей выборке
lambda_errors = []

# Проходим по всем лямбдам и записываем ошибки на обучающей выборке
for val in lambdas:
    reg = Ridge(alpha=val).fit(X_train, y_train)
    y_pred = reg.predict(X_test)
    # Сохраняем ошибку на обучающей выборке
    lambda_errors.append(mean_squared_error(y_pred, y_test))
plt.plot(lambdas, lambda_errors)
plt.xlabel('lambda')
plt.ylabel('MSE')
plt.show()

min_train_error = min(lambda_errors)
min_val = lambdas[lambda_errors.index(min_train_error)]

print('рассчитаем ошибку на кросс-валидации')

lg_reg = LinearRegression()
lg_cv_error = -np.mean(cross_val_score(lg_reg, data, dataset['target'], cv=5, scoring='neg_mean_squared_error'))
print("LinearRegression                результат={:.2f}".format(lg_cv_error))

best_reg = Ridge(alpha=min_val)
cv_error = -np.mean(cross_val_score(best_reg, data, dataset['target'], cv=5, scoring='neg_mean_squared_error'))
print("Ridge, оптимальная Lambda={:.2f}, результат={:.2f}".format(min_val, cv_error))

рассчитаем ошибку на кросс-валидации
LinearRegression                результат=37.13
Ridge, оптимальная Lambda=1.00, результат=35.27

Помогает ли регуляризация? Какой коэффициент регуляризации надо выбрать, чтобы ошибка была минимальной? Чему при этом равна ошибка? Напишите выводы о проведенных экспериментах

Выводы:
1.   Для данной задачи регуляризация помогла, но выйгрыш в MSE не большой.
2.   Значение оптимального значения лямбда и MSE указаны выше. 
3.   Среднее значенее целевой переменной можно использовать как худшее решение. Т.е. чтобы было от чего отталкваться при сравнении MSE.
4.   Важно следить за переобучением, точнее за его отсутствием.
5.   Только использование регуляризации не улучшит нам модель. Ниже мы удалили признак CHAS, потому что в основном одно значение для всего dataset, и прологарифмировали признаки CRIM, DIS, LSTAT. Эти небольшие изменения помогли уменьшить MSE сильнее, чем регуляризация.

In [160]:
data_target_1 = data.copy(deep=True)
data_target_1['CRIM']=np.log(data_target_1['CRIM'])
data_target_1['DIS']=np.log(data_target_1['DIS'])
data_target_1['LSTAT']=np.log(data_target_1['LSTAT'])
data_target_1 = data_target_1.drop(columns=['CHAS'])

lg_cv_error_1 = -np.mean(cross_val_score(LinearRegression(), 
                                         data_target_1, dataset['target'], cv=5, scoring='neg_mean_squared_error'))
print("LinearRegression                результат={:.2f}".format(lg_cv_error_1))
cv_error_1 = -np.mean(cross_val_score(Ridge(alpha=min_val), 
                                    data_target_1, dataset['target'], cv=5, scoring='neg_mean_squared_error'))
print("Ridge, оптимальная Lambda={:.2f}, результат={:.2f}".format(min_val, cv_error_1))

LinearRegression                результат=27.82
Ridge, оптимальная Lambda=1.00, результат=27.70