In [58]:
import pandas as pd
import numpy as np

In [99]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
submit_df = pd.read_csv("sample_submission.csv")

In [100]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34546 entries, 0 to 34545
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               34546 non-null  int64
 1   bathrooms        34546 non-null  float64
 2   bedrooms         34546 non-null  int64
 3   building_id      34546 non-null  object
 4   created          34546 non-null  object
 5   description      33509 non-null  object
 6   display_address  34458 non-null  object
 7   features         34546 non-null  object
 8   latitude         34546 non-null  float64
 9   listing_id       34546 non-null  int64
 10  longitude        34546 non-null  float64
 11  manager_id       34546 non-null  object
 12  photos           34546 non-null  object
 13  price            34546 non-null  int64
 14  street_address   34542 non-null  object
 15  TARGET           34546 non-null  object
dtypes: float64(3), int64(4), object(9)
memory usage: 4.2+ MB

In [101]:
train_df.shape

(34546, 16)

In [102]:
train_df.head(3)

,Id,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,TARGET
0,57094,1.0,3,0,2016-05-19 18:06:27,A FABULOUS 3BR IN MIDTOWN WEST! PERFECT APAR...,HOW AMAZING IS THIS MIDTOWN WEST STEAL!! NO FE...,"['Laundry In Unit', 'No Fee', 'Elevator']",40.7647,7039994,-73.9918,4bdc3d8c1aaa90d997ce2cb77680679b,['https://photos.renthop.com/2/7039994_07be01b...,4495,W 50 & AVE 10,medium
1,33389,1.0,1,9225efdfb57a50bf3ec17ebab082f94a,2016-06-16 02:01:49,Renovated Kitchen and Bathroom!,55 River Drive South,"['Dogs Allowed', 'Cats Allowed', 'No Fee']",40.7275,7166774,-74.0322,e5808a5e6cc13988fe596704428d38d5,['https://photos.renthop.com/2/7166774_03cf63a...,2570,55 River Drive South,medium
2,60458,1.0,0,320de7d3cc88e50a7fbbcfde1e825d21,2016-05-04 02:42:50,RARE AND BEST DEAL ON THE MARKET!!!! PERFECT S...,W 77 Street,"['Elevator', 'Hardwood Floors']",40.7798,6962716,-73.9751,d69d4e111612dd12ef864031c1148543,['https://photos.renthop.com/2/6962716_ec7f56f...,1795,22 W 77 Street,low

In [103]:
train_df.isna().sum()

Id                    0
bathrooms             0
bedrooms              0
building_id           0
created               0
description        1037
display_address      88
features              0
latitude              0
listing_id            0
longitude             0
manager_id            0
photos                0
price                 0
street_address        4
TARGET                0
dtype: int64

In [104]:
# to_drop = ['listing_id', 'manager_id', 'latitude', 'longitude', 'building_id', 'display_address']

In [105]:
import ast

In [106]:
# train_df['features'][0]

In [107]:
# train_df['features'][0][1:]

In [108]:
features = [item for elem in train_df['features'] for item in ast.literal_eval(elem)]

In [109]:
len(features)

187965

In [110]:
len(set(features))

1247

In [111]:
from collections import Counter

In [112]:
import operator
from operator import itemgetter

In [113]:
most_popular_feat = ['Laundry In Unit','No Fee','Elevator','Dogs Allowed','Cats Allowed','Hardwood Floors','Swimming Pool',
                     'Fitness Center', 'Doorman', 'Roof Deck','Private Outdoor Space']

In [114]:
most_popular_feat[0] in train_df['features'][0]

True

In [115]:
most_popular_feat

['Laundry In Unit',
 'No Fee',
 'Elevator',
 'Dogs Allowed',
 'Cats Allowed',
 'Hardwood Floors',
 'Swimming Pool',
 'Fitness Center',
 'Doorman',
 'Roof Deck',
 'Private Outdoor Space']

In [116]:
def check_feat(feat, x):
  if feat in x:
    return 1
  else:
    return 0

In [117]:
for feat in most_popular_feat:
  # feat = most_popular_feat[0]
  train_df[feat] = train_df['features'].apply(lambda x: check_feat(feat, x))

In [118]:
train_df['Private Outdoor Space'].nunique()

2

In [79]:
# train_df

In [80]:
# train_df[train_df['Laundry In Unit'] == 1]

добавили фич - разреженная матрица

In [119]:
for feat in list(train_df.columns):
  try:
    print(f'In {feat} : {train_df[feat].value_counts()[1]} not - null values')
  except KeyError:
    print(f'In {feat} is not unknown-values')

In Id is not unknown-values
In bathrooms : 27618 not - null values
In bedrooms : 11012 not - null values
In building_id : 196 not - null values
In created : 3 not - null values
In description : 244 not - null values
In display_address : 248 not - null values
In features : 984 not - null values
In latitude is not unknown-values
In listing_id is not unknown-values
In longitude is not unknown-values
In manager_id : 513 not - null values
In photos : 3 not - null values
In price is not unknown-values
In street_address : 121 not - null values
In TARGET : 7860 not - null values
In Laundry In Unit : 491 not - null values
In No Fee : 12597 not - null values
In Elevator : 18258 not - null values
In Dogs Allowed : 15423 not - null values
In Cats Allowed : 16466 not - null values
In Hardwood Floors : 16522 not - null values
In Swimming Pool : 1912 not - null values
In Fitness Center : 9260 not - null values
In Doorman : 14744 not - null values
In Roof Deck : 4600 not - null values
In Private Outdoor Space : 345 not - null values

In [120]:
train_df.shape

(34546, 27)

In [121]:
# train_df[train_df['Private Outdoor Space'] == 1].head()

In [123]:
# train_df.info()

In [124]:
to_drop = ['building_id', 'created', 'description', 'display_address',
           'features', 'latitude', 'listing_id', 'longitude', 'manager_id',
           'street_address']

In [125]:
train_df.drop(to_drop, axis='columns', inplace=True)

In [126]:
train_df.head(3)

,Id,bathrooms,bedrooms,photos,price,TARGET,Laundry In Unit,No Fee,Elevator,Dogs Allowed,Cats Allowed,Hardwood Floors,Swimming Pool,Fitness Center,Doorman,Roof Deck,Private Outdoor Space
0,57094,1.0,3,['https://photos.renthop.com/2/7039994_07be01b...,4495,medium,1,1,1,0,0,0,0,0,0,0,0
1,33389,1.0,1,['https://photos.renthop.com/2/7166774_03cf63a...,2570,medium,0,1,0,1,1,0,0,0,0,0,0
2,60458,1.0,0,['https://photos.renthop.com/2/6962716_ec7f56f...,1795,low,0,0,1,0,0,1,0,0,0,0,0

In [127]:
len(ast.literal_eval(train_df.photos.iloc[0]))

3

In [128]:
train_df.shape

(34546, 17)

In [129]:
train_df['num_photos'] = train_df['photos'].apply(lambda x: len(ast.literal_eval(x)))

In [130]:
# train_df['num_photos']

In [131]:
train_df.drop(['photos'], axis='columns', inplace=True)

In [132]:
train_df.replace({'TARGET': {'low': 0, 'medium': 1, 'high': 2}}, inplace=True)

In [133]:
# train_df

In [134]:
train_df.TARGET.nunique()

3

In [135]:
train_df.TARGET.value_counts()

0    23999
1     7860
2     2687
Name: TARGET, dtype: int64

In [136]:
y_train = train_df.TARGET

In [137]:
y_train.shape

(34546,)

In [138]:
train_df.drop(['TARGET'], axis='columns', inplace=True)

In [139]:
from sklearn.model_selection import train_test_split

In [140]:
from imblearn.over_sampling import RandomOverSampler

In [141]:
train_df.head()

,Id,bathrooms,bedrooms,price,Laundry In Unit,No Fee,Elevator,Dogs Allowed,Cats Allowed,Hardwood Floors,Swimming Pool,Fitness Center,Doorman,Roof Deck,Private Outdoor Space,num_photos
0,57094,1.0,3,4495,1,1,1,0,0,0,0,0,0,0,0,3
1,33389,1.0,1,2570,0,1,0,1,1,0,0,0,0,0,0,13
2,60458,1.0,0,1795,0,0,1,0,0,1,0,0,0,0,0,6
3,53048,1.0,2,3400,0,1,1,0,0,1,1,1,1,0,0,4
4,592,1.0,3,5695,0,0,0,0,0,1,0,0,0,0,0,3

In [142]:
train_df.shape

(34546, 16)

In [143]:
train_df.isna().sum()

Id                       0
bathrooms                0
bedrooms                 0
price                    0
Laundry In Unit          0
No Fee                   0
Elevator                 0
Dogs Allowed             0
Cats Allowed             0
Hardwood Floors          0
Swimming Pool            0
Fitness Center           0
Doorman                  0
Roof Deck                0
Private Outdoor Space    0
num_photos               0
dtype: int64

In [144]:
train_df.shape

(34546, 16)

In [145]:
y_train.shape

(34546,)

In [146]:
ros = RandomOverSampler(random_state=42)
X_resampled, y_resampled = ros.fit_resample(train_df, y_train)

In [148]:
y_resampled.value_counts()

1    23999
0    23999
2    23999
Name: TARGET, dtype: int64

In [149]:
X_resampled.shape

(71997, 16)

In [150]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.25, random_state=42)

In [151]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.model_selection import GridSearchCV

In [176]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [189]:
tree_param = [{'criterion': ['entropy', 'gini'],
               'max_depth': [n for n in range(30,41,2)],
               'min_samples_leaf': [2,3,4,5,6,7]}]

In [190]:
gs_dt = GridSearchCV(DecisionTreeClassifier(), tree_param, cv=5, scoring="f1_weighted")

In [191]:
gs_dt.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid=[{'criterion': ['entropy', 'gini'],
                          'max_depth': [30, 32, 34, 36, 38, 40],
                          'min_samples_leaf': [2, 3, 4, 5, 6, 7]}],
             scoring='f1_weighted')

In [192]:
gs_dt.best_params_

{'criterion': 'entropy', 'max_depth': 38, 'min_samples_leaf': 2}

In [193]:
best_dt = DecisionTreeClassifier(criterion='gini', max_depth=38, min_samples_leaf=2)

In [194]:
best_dt.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=38, min_samples_leaf=2)

In [195]:
f1_score(y_test, best_dt.predict(X_test), average='weighted')

0.8397029898912329

### Predict

In [212]:
test_df = pd.read_csv("test.csv")

In [183]:
features = [item for elem in test_df['features'] for item in ast.literal_eval(elem)]

In [184]:
most_popular_feat = ['Laundry In Unit','No Fee','Elevator','Dogs Allowed','Cats Allowed','Hardwood Floors','Swimming Pool',
                     'Fitness Center', 'Doorman', 'Roof Deck','Private Outdoor Space']

In [185]:
for feat in most_popular_feat:
  test_df[feat] = test_df['features'].apply(lambda x: check_feat(feat, x))

In [196]:
to_drop = ['building_id', 'created', 'description', 'display_address',
           'features', 'latitude', 'listing_id', 'longitude', 'manager_id',
           'street_address']

test_df.drop(to_drop, axis='columns', inplace=True)

In [197]:
test_df.isna().sum()

Id                       0
bathrooms                0
bedrooms                 0
photos                   0
price                    0
Laundry In Unit          0
No Fee                   0
Elevator                 0
Dogs Allowed             0
Cats Allowed             0
Hardwood Floors          0
Swimming Pool            0
Fitness Center           0
Doorman                  0
Roof Deck                0
Private Outdoor Space    0
dtype: int64

In [198]:
test_df['num_photos'] = test_df['photos'].apply(lambda x: len(ast.literal_eval(x)))
test_df.drop(['photos'], axis='columns', inplace=True)

In [213]:
test_df.head(3)

,Id,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address
0,low,2.0,3,87c4e08083ac83618dd9fdbf849331fe,2016-06-21 03:21:59,Rent listed is net effective after one month f...,E 77 St.,"['Pre-War', 'Laundry in Unit', 'Dishwasher', '...",40.7716,7189305,-73.9544,e6472c7237327dd3903b3d6f6a94515a,['https://photos.renthop.com/2/7189305_f47ed5c...,4675,339 E 77 St.
1,low,1.0,2,850c3d4412aebb3335273ed95f3e4bd4,2016-06-11 03:47:06,A FABULOUS 2BR IN THE UPPER EAST SIDE! PERFECT...,E 112 Street,[],40.7944,7140670,-73.9401,3e9f0fa34d67e5d61aae56776ecb8cee,['https://photos.renthop.com/2/7140670_6c5824f...,2100,252 E 112 Street
2,low,1.0,2,84ddf917a091828ab9baedc0c926470e,2016-04-17 02:45:19,This is a great true 2 bedroom in a prime Midt...,Ninth Avenue,"['Dogs Allowed', 'Cats Allowed']",40.7650,6886239,-73.9882,10b1ae0a38d50b7ba0cee612d14af9eb,['https://photos.renthop.com/2/6886239_533bbee...,2800,783 Ninth Avenue

In [200]:
test_df.shape

(14806, 16)

In [205]:
# pd.DataFrame.from_dict({'Id': [n for n in range(0, test_df.shape[0])]})

In [207]:
test_df.Id = pd.DataFrame.from_dict({'Id': [n for n in range(0, test_df.shape[0])]})

In [209]:
y_pred = best_dt.predict(test_df)

In [210]:
submit = pd.DataFrame.from_dict({'Id':test_df.Id.values, 'TARGET': y_pred})
submit.to_csv("sumbit.csv", index=False)

In [211]:
submit.head()

   Id  TARGET
0   0       2
1   1       2
2   2       0
3   3       1
4   4       1