In [139]:
from google.colab import drive
import pandas as pd 
drive.mount('/content/drive')
!ls "/content/drive/My Drive/tinkoff" # https://drive.google.com/file/d/1_rgLyXdOg4UjyVxETHNkFiR6W2c2wevf/view?usp=sharing

data = pd.read_csv('/content/drive/My Drive/tinkoff/train.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
creditcard.csv	    pulsar_stars.csv  train.csv
negative-words.txt  test.csv	      Video_games_esrb_rating.csv
positive-words.txt  test_esrb.csv

In [140]:
data.head()

,Id,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,TARGET
0,57094,1.0,3,0,2016-05-19 18:06:27,A FABULOUS 3BR IN MIDTOWN WEST! PERFECT APAR...,HOW AMAZING IS THIS MIDTOWN WEST STEAL!! NO FE...,"['Laundry In Unit', 'No Fee', 'Elevator']",40.7647,7039994,-73.9918,4bdc3d8c1aaa90d997ce2cb77680679b,['https://photos.renthop.com/2/7039994_07be01b...,4495,W 50 & AVE 10,medium
1,33389,1.0,1,9225efdfb57a50bf3ec17ebab082f94a,2016-06-16 02:01:49,Renovated Kitchen and Bathroom!,55 River Drive South,"['Dogs Allowed', 'Cats Allowed', 'No Fee']",40.7275,7166774,-74.0322,e5808a5e6cc13988fe596704428d38d5,['https://photos.renthop.com/2/7166774_03cf63a...,2570,55 River Drive South,medium
2,60458,1.0,0,320de7d3cc88e50a7fbbcfde1e825d21,2016-05-04 02:42:50,RARE AND BEST DEAL ON THE MARKET!!!! PERFECT S...,W 77 Street,"['Elevator', 'Hardwood Floors']",40.7798,6962716,-73.9751,d69d4e111612dd12ef864031c1148543,['https://photos.renthop.com/2/6962716_ec7f56f...,1795,22 W 77 Street,low
3,53048,1.0,2,ce6d18bf3238e668b2bf23f4110b7b67,2016-05-12 05:57:56,Newly renovated flex 2 apartment offers the ne...,John Street,"['Swimming Pool', 'Doorman', 'Elevator', 'Fitn...",40.7081,7002458,-74.0065,e6472c7237327dd3903b3d6f6a94515a,['https://photos.renthop.com/2/7002458_93f4010...,3400,100 John Street,low
4,592,1.0,3,fee4d465932160318364d9d48d272879,2016-06-16 06:06:15,LOW FEE apartments do not come around like thi...,West 16th Street,"['Laundry in Building', 'Laundry in Unit', 'Di...",40.7416,7170465,-74.0025,6fba9b3a8327c607b8b043716efee684,['https://photos.renthop.com/2/7170465_9c3f173...,5695,321 West 16th Street,low

In [141]:
data = pd.get_dummies(data, columns = ['TARGET'])

In [142]:
data.head()

,Id,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,TARGET_high,TARGET_low,TARGET_medium
0,57094,1.0,3,0,2016-05-19 18:06:27,A FABULOUS 3BR IN MIDTOWN WEST! PERFECT APAR...,HOW AMAZING IS THIS MIDTOWN WEST STEAL!! NO FE...,"['Laundry In Unit', 'No Fee', 'Elevator']",40.7647,7039994,-73.9918,4bdc3d8c1aaa90d997ce2cb77680679b,['https://photos.renthop.com/2/7039994_07be01b...,4495,W 50 & AVE 10,0,0,1
1,33389,1.0,1,9225efdfb57a50bf3ec17ebab082f94a,2016-06-16 02:01:49,Renovated Kitchen and Bathroom!,55 River Drive South,"['Dogs Allowed', 'Cats Allowed', 'No Fee']",40.7275,7166774,-74.0322,e5808a5e6cc13988fe596704428d38d5,['https://photos.renthop.com/2/7166774_03cf63a...,2570,55 River Drive South,0,0,1
2,60458,1.0,0,320de7d3cc88e50a7fbbcfde1e825d21,2016-05-04 02:42:50,RARE AND BEST DEAL ON THE MARKET!!!! PERFECT S...,W 77 Street,"['Elevator', 'Hardwood Floors']",40.7798,6962716,-73.9751,d69d4e111612dd12ef864031c1148543,['https://photos.renthop.com/2/6962716_ec7f56f...,1795,22 W 77 Street,0,1,0
3,53048,1.0,2,ce6d18bf3238e668b2bf23f4110b7b67,2016-05-12 05:57:56,Newly renovated flex 2 apartment offers the ne...,John Street,"['Swimming Pool', 'Doorman', 'Elevator', 'Fitn...",40.7081,7002458,-74.0065,e6472c7237327dd3903b3d6f6a94515a,['https://photos.renthop.com/2/7002458_93f4010...,3400,100 John Street,0,1,0
4,592,1.0,3,fee4d465932160318364d9d48d272879,2016-06-16 06:06:15,LOW FEE apartments do not come around like thi...,West 16th Street,"['Laundry in Building', 'Laundry in Unit', 'Di...",40.7416,7170465,-74.0025,6fba9b3a8327c607b8b043716efee684,['https://photos.renthop.com/2/7170465_9c3f173...,5695,321 West 16th Street,0,1,0

In [143]:
data = data.dropna() #В датасете достаточно много примеров
data.shape

(33421, 18)

### Колонки manager_id и building_id, listing_id выглядят достаточно страшно, они могут нести информацию для знающих людей, но модели эта информация вряд ли поможет. 


### Уберём их.

Сгруппируем числовый признак price по категориальному street_addres

In [144]:
def code_mean(data, cat_feature, real_feature):
    return (data[cat_feature].map(data.groupby(cat_feature)[real_feature].mean()))
data['street_mean_price'] = code_mean(data, 'street_address', 'price')
clean_data = data.drop(columns=['manager_id', 'building_id', 'listing_id', 'Id', 'street_address'])
clean_data.head()

,bathrooms,bedrooms,created,description,display_address,features,latitude,longitude,photos,price,TARGET_high,TARGET_low,TARGET_medium,street_mean_price
0,1.0,3,2016-05-19 18:06:27,A FABULOUS 3BR IN MIDTOWN WEST! PERFECT APAR...,HOW AMAZING IS THIS MIDTOWN WEST STEAL!! NO FE...,"['Laundry In Unit', 'No Fee', 'Elevator']",40.7647,-73.9918,['https://photos.renthop.com/2/7039994_07be01b...,4495,0,0,1,4495.000000
1,1.0,1,2016-06-16 02:01:49,Renovated Kitchen and Bathroom!,55 River Drive South,"['Dogs Allowed', 'Cats Allowed', 'No Fee']",40.7275,-74.0322,['https://photos.renthop.com/2/7166774_03cf63a...,2570,0,0,1,2485.000000
2,1.0,0,2016-05-04 02:42:50,RARE AND BEST DEAL ON THE MARKET!!!! PERFECT S...,W 77 Street,"['Elevator', 'Hardwood Floors']",40.7798,-73.9751,['https://photos.renthop.com/2/6962716_ec7f56f...,1795,0,1,0,1795.000000
3,1.0,2,2016-05-12 05:57:56,Newly renovated flex 2 apartment offers the ne...,John Street,"['Swimming Pool', 'Doorman', 'Elevator', 'Fitn...",40.7081,-74.0065,['https://photos.renthop.com/2/7002458_93f4010...,3400,0,1,0,3407.517647
4,1.0,3,2016-06-16 06:06:15,LOW FEE apartments do not come around like thi...,West 16th Street,"['Laundry in Building', 'Laundry in Unit', 'Di...",40.7416,-74.0025,['https://photos.renthop.com/2/7170465_9c3f173...,5695,0,1,0,5770.000000

### Добавим колонку с "счётом" описания квартиры, где будем добавлять очки за "positive words" и снимать за "negative words".

https://drive.google.com/file/d/1qqmwt2OQi_DDgvFr1UGSy8laRFuYD1IW/view?usp=sharing 

https://drive.google.com/file/d/1JrrGUn8XC_kOmKoy83hCWNj8T2rxghbw/view?usp=sharing

In [145]:
f = open('/content/drive/My Drive/tinkoff/positive-words.txt') #Файл с занятия по nlp
positive_words = f.readlines()
f.close()
f = open('/content/drive/My Drive/tinkoff/negative-words.txt', encoding = "ISO-8859-1")
negative_words = f.readlines()
f.close()

In [146]:
for i in range(len(positive_words)):
  positive_words[i] = positive_words[i].rstrip("\n")
for i in range(len(negative_words)):
  negative_words[i] = negative_words[i].rstrip("\n")

In [147]:
clean_data['description_score'] = 0
description_columns = clean_data['description'].tolist()
description_score = [0] * len(description_columns)
for i in range(clean_data.shape[0]):
  for word in description_columns[i].split(' '):
    if word in positive_words:
        description_score[i] += 10
    elif word in negative_words:
        description_score[i] -= 10

In [148]:
score = pd.DataFrame(description_score, columns=['description_score'])
score.head(10)

   description_score
0                 20
1                  0
2                 10
3                 90
4                 70
5                 20
6                 20
7                 20
8                 40
9                 30

In [149]:
clean_data = clean_data.merge(score,left_index=True, right_index=True)
clean_data= clean_data.drop(columns=['description_score_x', 'description_score_y', 'description'])

In [150]:
clean_data.head()

,bathrooms,bedrooms,created,display_address,features,latitude,longitude,photos,price,TARGET_high,TARGET_low,TARGET_medium,street_mean_price
0,1.0,3,2016-05-19 18:06:27,HOW AMAZING IS THIS MIDTOWN WEST STEAL!! NO FE...,"['Laundry In Unit', 'No Fee', 'Elevator']",40.7647,-73.9918,['https://photos.renthop.com/2/7039994_07be01b...,4495,0,0,1,4495.000000
1,1.0,1,2016-06-16 02:01:49,55 River Drive South,"['Dogs Allowed', 'Cats Allowed', 'No Fee']",40.7275,-74.0322,['https://photos.renthop.com/2/7166774_03cf63a...,2570,0,0,1,2485.000000
2,1.0,0,2016-05-04 02:42:50,W 77 Street,"['Elevator', 'Hardwood Floors']",40.7798,-73.9751,['https://photos.renthop.com/2/6962716_ec7f56f...,1795,0,1,0,1795.000000
3,1.0,2,2016-05-12 05:57:56,John Street,"['Swimming Pool', 'Doorman', 'Elevator', 'Fitn...",40.7081,-74.0065,['https://photos.renthop.com/2/7002458_93f4010...,3400,0,1,0,3407.517647
4,1.0,3,2016-06-16 06:06:15,West 16th Street,"['Laundry in Building', 'Laundry in Unit', 'Di...",40.7416,-74.0025,['https://photos.renthop.com/2/7170465_9c3f173...,5695,0,1,0,5770.000000

### Итак, мы  добавили признак для address, поэтому можно избавиться от display_address, где могут встречаться интересные примеры, но их трудно обработать.

### Также добавим количество фото дома, как признак, ведь работать с самими фотографиями будет затруднительно

In [151]:
clean_data = clean_data.drop(columns=['display_address'])

In [152]:
clean_data['num_photos'] = clean_data['photos'].map(len)
clean_data = clean_data.drop(columns=['photos'])

In [153]:
clean_data.head(10)

,bathrooms,bedrooms,created,features,latitude,longitude,price,TARGET_high,TARGET_low,TARGET_medium,street_mean_price,num_photos
0,1.0,3,2016-05-19 18:06:27,"['Laundry In Unit', 'No Fee', 'Elevator']",40.7647,-73.9918,4495,0,0,1,4495.000000,231
1,1.0,1,2016-06-16 02:01:49,"['Dogs Allowed', 'Cats Allowed', 'No Fee']",40.7275,-74.0322,2570,0,0,1,2485.000000,1001
2,1.0,0,2016-05-04 02:42:50,"['Elevator', 'Hardwood Floors']",40.7798,-73.9751,1795,0,1,0,1795.000000,462
3,1.0,2,2016-05-12 05:57:56,"['Swimming Pool', 'Doorman', 'Elevator', 'Fitn...",40.7081,-74.0065,3400,0,1,0,3407.517647,308
4,1.0,3,2016-06-16 06:06:15,"['Laundry in Building', 'Laundry in Unit', 'Di...",40.7416,-74.0025,5695,0,1,0,5770.000000,231
5,1.0,1,2016-06-08 03:16:03,"['Laundry in Unit', 'Dishwasher', 'Hardwood Fl...",40.7383,-74.0015,2550,0,0,1,2822.500000,539
6,1.0,2,2016-06-14 01:18:27,"['Pre-War', 'Dogs Allowed', 'Cats Allowed']",40.7278,-73.9809,3490,0,1,0,3440.000000,2
7,1.0,1,2016-06-17 04:24:25,['Cats Allowed'],40.8871,-73.8618,1300,1,0,0,1300.000000,847
8,1.0,1,2016-04-09 04:39:21,"['Pre-War', 'Laundry in Building', 'Hardwood F...",40.7821,-73.9464,1900,0,1,0,1900.000000,385
9,1.0,1,2016-05-12 06:06:51,"['Swimming Pool', 'Roof Deck', 'Doorman', 'Ele...",40.7074,-74.0069,2720,0,1,0,3932.914634,308

In [154]:
features_dict = {
    'Laundry In Unit':5 ,
    'No Fee':5,
    'Elevator': 3,
    'Dogs Allowed':3,
    'Cats Allowed': 3,
    'Swimming Pool': 8,
    'Doorman':9,
    'Fitness Center': 8,
    'Dishwasher': 5,
    'Hardwood Floors': 4,
    'Pre-War': 3,
    'Common Outdoor Space': 4,
    'Private Outdoor Space':8
}
features_list = clean_data['features'].tolist()
features_score = [0] * len(features_list)
for sent in features_list:
  for key,num in features_dict.items():
    for word in sent.split(" "):
      if key == word:
        features_score[i]+=num 
features_score

IndexError: ignored

###Хотел начислить баллы за разные фичи дома, но оказалось что колонка с фичами содержит не списки, а просто странные строчки, времени мало, поэтому брошу затею

In [155]:
clean_data = clean_data.drop(columns =['features'])

In [156]:
dates = clean_data['created'].tolist()
for i in range(len(dates)):
  dates[i] = dates[i].split(" ")[0]
for i in range(len(dates)):
  dates[i] = dates[i].replace("-", "/")

In [171]:
from datetime import datetime
time_difference = []
nowdays = datetime.strptime('2022/5/21', "%Y/%m/%d")
for date in dates:
  d = datetime.strptime(date, "%Y/%m/%d")
  time_difference.append(int((nowdays - d).days))
time_difference.reverse()
new_column = pd.DataFrame(time_difference, columns=['exhibition_time'])
new_column

       exhibition_time
0                 2194
1                 2238
2                 2194
3                 2197
4                 2209
...                ...
32324             2165
32325             2200
32326             2208
32327             2165
32328             2193

[32329 rows x 1 columns]

In [174]:
clean_data = clean_data.merge(new_column,left_index=True, right_index=True)
clean_data= clean_data.drop(columns=['exhibition_time_x', 'exhibition_time_y', 'created'])

In [178]:
clean_data

,bathrooms,bedrooms,latitude,longitude,price,TARGET_high,TARGET_low,TARGET_medium,street_mean_price,num_photos,exhibition_time
0,1.0,3,40.7647,-73.9918,4495,0,0,1,4495.000000,231,2194
1,1.0,1,40.7275,-74.0322,2570,0,0,1,2485.000000,1001,2238
2,1.0,0,40.7798,-73.9751,1795,0,1,0,1795.000000,462,2194
3,1.0,2,40.7081,-74.0065,3400,0,1,0,3407.517647,308,2197
4,1.0,3,40.7416,-74.0025,5695,0,1,0,5770.000000,231,2209
...,...,...,...,...,...,...,...,...,...,...,...
32324,1.0,2,40.7168,-73.8155,1900,1,0,0,1912.500000,616,2165
32325,2.0,3,40.7548,-73.9944,4750,0,1,0,4411.666667,616,2200
32326,1.0,0,40.7032,-73.9914,3671,0,1,0,4570.926829,770,2208
32327,1.0,2,40.7487,-73.9425,2900,0,0,1,3090.863636,616,2165
32328,1.0,3,40.6829,-73.9614,3600,0,1,0,3600.000000,308,2193

In [184]:
import numpy as np
input_data = np.array(clean_data.drop(columns = ["TARGET_high",	"TARGET_low",	"TARGET_medium"]))
target_data_raw = np.array(clean_data[["TARGET_high",	"TARGET_low",	"TARGET_medium"]])
target_data = np.zeros(target_data_raw.shape[0])

In [186]:
for i in range(target_data_raw.shape[0]): # изменяем таргет переменную с вектора на три класса
  if target_data_raw[i, 0] == 1:
    target_data[i]= 1
  elif target_data_raw[i, 1] == 1:
    target_data[i]= 2
  else:
    target_data[i]= 3

In [194]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
X_train, X_test, y_train, y_test = train_test_split(input_data, target_data , train_size = 0.8)

model = LogisticRegression(fit_intercept=True).fit(X_train, y_train)
predictions = model.predict(X_test)
print(metrics.accuracy_score(y_test, predictions))
print(metrics.precision_score(y_test, predictions, average='macro'))
print(metrics.recall_score(y_test, predictions, average='macro'))

0.6867007672634271
0.344971788914703
0.3431251551183412

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## Знаю, что нужно было тестить на test.csv, просто у меня не осталось времени препроцессить еще и тот файл.